/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/11/2017, 04:41:47 PM
    Author     : Cesar
*/
*{
    margin: 0;
    padding: 0;
}

#tablero{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #333;
}

.tam{
    border: 1px solid #000;
}

.tamIconos{
    width: 48px;
    height: 41px;
}
