/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/11/2017, 04:41:47 PM
    Author     : Cesar
*/
*{
    margin: 0;
    padding: 0;
}

canvas{
    width:200;
    height: 200;
    border: 1px solid #000;
}

.tam{
    border: 1px solid #000;
}
